<%= bootstrap_form_for(@device, layout: :horizontal) do |f| %>
    <%= f.grouped_collection_select :device_type_fk, DeviceType.where(level:1),:sub_types, :label, :device_type, :type_name, control_col: "col-sm-2"  %>
    <%= f.text_field :name %>
    <%= f.text_field :reg_no %>
    <%= f.text_field :description %>
    <%= f.text_field :model %>
    <%= f.text_field :manufacturer %>
    <% if params[:service_order_id] %>
        <%= hidden_field :service_order, :id, value: params[:service_order_id].to_i %>
    <% end %>
    <%= f.form_group do %>
        <%= f.primary t('helpers.titles.save') %>
    <% end %>
<% end %>