<%- model_class = Device -%>
<%= provide(:title, 'Seadmed') %>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:device_type_fk) %></th>
    <th><%= model_class.human_attribute_name(:name) %></th>
    <th><%= model_class.human_attribute_name(:reg_no) %></th>
    <th><%= model_class.human_attribute_name(:description) %></th>
    <th><%= model_class.human_attribute_name(:model) %></th>
    <th><%= model_class.human_attribute_name(:manufacturer) %></th>
    <th><%= t 'helpers.actions' %></th>
  </tr>
  </thead>
  <tbody>
  <% @devices.each do |device| %>
      <tr>
        <td><%= device.device_type.type_name %></td>
        <td><%= device.name %></td>
        <td><%= device.reg_no %></td>
        <td><%= device.description %></td>
        <td><%= device.model %></td>
        <td><%= device.manufacturer %></td>
        <td>
          <%= link_to t('helpers.links.edit'), edit_device_path(device), :class => 'btn btn-sm btn-default' %>
          <%= link_to t('helpers.links.destroy'), device_path(device),
                      :method => :delete, :data => {:confirm => t("helpers.links.confirm")},
                      :class => 'btn btn-sm btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<div>
  <%= will_paginate @devices, renderer: BootstrapPagination::Rails %>
</div>

<%= link_to t('helpers.links.new'), new_device_path, :class => 'btn btn-primary' %>
<%= link_to 'Otsi seadet', search_devices_path, :class => 'btn btn-default' %>
