<%= bootstrap_form_for(@device_search, url: search_devices_path, layout: :horizontal) do |f| %>
    <%= f.grouped_collection_select :device_type_fk, DeviceType.where(level: 1), :sub_types, :label, :device_type, :type_name, include_blank: true, control_col: "col-sm-2" %>
    <%= f.text_field :name %>
    <%= f.text_field :reg_no %>
    <%= f.text_field :description %>
    <%= f.text_field :model %>
    <%= f.text_field :manufacturer %>
    <%= f.text_field :client_name, label: 'Klient' %>
    <% if params[:service_order_id].blank? %>
        <%= f.hidden_field :service_order_id %>
    <% else %>
        <%= f.hidden_field :service_order_id, value: params[:service_order_id].to_i %>
    <% end %>
    <%= f.form_group do %>
        <%= f.primary 'Otsi' %>
    <% end %>
<% end %>
<% if defined?(@devices) && @devices.size > 0 %>
    <%- model_class = Device -%>
    <table class="table table-striped">
      <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:device_type_fk) %></th>
        <th><%= model_class.human_attribute_name(:name) %></th>
        <th><%= model_class.human_attribute_name(:reg_no) %></th>
        <th><%= model_class.human_attribute_name(:description) %></th>
        <th><%= model_class.human_attribute_name(:model) %></th>
        <th><%= model_class.human_attribute_name(:manufacturer) %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @devices.each do |device| %>
          <tr>
            <td><%= device.device_type.type_name %></td>
            <td><%= device.name %></td>
            <td><%= device.reg_no %></td>
            <td><%= device.description %></td>
            <td><%= device.model %></td>
            <td><%= device.manufacturer %></td>
            <td>
              <% unless @device_search.service_order_id.blank? %>
                  <%= link_to 'Lisa tellimusele', add_device_to_order_devices_path(device: device.device, service_order: @device_search.service_order_id) %>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <div>
      <%= will_paginate @devices, renderer: BootstrapPagination::Rails %>
    </div>
<% end %>
