<script>
    $(function () {
        $("#customer_search_box").autocomplete({
            source: "<%= customer_find_customer_path %>",
            minLength: 2,
            select: function (event, ui) {
                event.preventDefault();
                $("#service_request_customer_fk").val(ui.item.value);
                $("#customer_search_box").val(ui.item.label);
            }
        });
    });
</script>
<div class="row">
  <div class="col-sm-3 col-sm-offset-1">
    <%= bootstrap_form_for @service_request do |f| %>
        <%= f.label :customer_fk %>
        <%= f.form_group do %>
            <%= f.hidden_field :customer_fk %>
            <input type="text" id="customer_search_box" class="form-control" value="<%= f.object.customer.get_name unless f.object.customer.nil? %>">
        <% end %>
        <%= f.text_area :service_desc_by_customer %>
        <%= f.text_area :service_desc_by_employee %>
        <%= f.collection_select :service_request_status_type_fk, ServiceRequestStatusType.all, :service_request_status_type, :type_name, :class => 'text_field' %>
        <%= f.submit t('helpers.titles.save'), :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    service_requests_path, :class => 'btn' %>

    <% end %>
  </div>
</div>