<%= provide(:title, 'Muuda pöördumise infot') %>
<%= render :partial => 'form' %>
<br>
<%= link_to 'Halda tellimusi', service_request_service_orders_path(service_request_id: params[:id].to_i), class: 'btn btn-info col-sm-offset-1' %>
