<%- model_class = ServiceRequest -%>
<%= provide(:title, 'Kliendi pöördumised') %>
<%= bootstrap_form_for '', layout: :horizontal, method: :get do |f| %>
    <%= f.search_field :client, label: 'Klient', value: params[:client] %>
    <%= f.collection_select :service_request_status_type_fk, ServiceRequestStatusType.all, :service_request_status_type, :type_name, include_blank: true, control_col: 'col-sm-2', label: 'Seisund', selected: params[:service_request_status_type_fk] %>
    <%= f.submit 'Otsi', class: 'btn btn-success' %>
<% end %>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:customer_fk) %></th>
    <th><%= model_class.human_attribute_name(:created_by) %></th>
    <th><%= model_class.human_attribute_name(:created) %></th>
    <th><%= model_class.human_attribute_name(:service_desc_by_customer) %></th>
    <th><%= model_class.human_attribute_name(:service_desc_by_employee) %></th>
    <th><%= model_class.human_attribute_name(:service_request_status_type_fk) %></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @service_requests.each do |service_request| %>
      <tr>
        <td><%= service_request.customer.name %></td>
        <td><%= service_request.employee.person.full_name %></td>
        <td><%= service_request.created.strftime("%F %T") %></td>
        <td><%= service_request.service_desc_by_customer %></td>
        <td><%= service_request.service_desc_by_employee %></td>
        <td><%= service_request.service_request_status_type.type_name %></td>
        <td><%= link_to 'Vaata tellimusi', service_request_service_orders_path(service_request) %></td>
        <td>
          <%= link_to t('helpers.links.edit'), edit_service_request_path(service_request), :class => 'btn btn-sm btn-default' %>
          <%= link_to t('helpers.links.destroy'),
                      service_request_path(service_request),
                      :method => :delete,
                      :data => {:confirm => t('helpers.links.confirm')},
                      :class => 'btn btn-sm btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<div>
  <%= will_paginate @service_requests, renderer: BootstrapPagination::Rails %>
</div>
<%= link_to t('helpers.links.new'), new_service_request_path, :class => 'btn btn-primary' %>
