<%- model_class = ServiceRequest -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal col-sm-12">
  <dt><strong><%= model_class.human_attribute_name(:customer_fk) %>:</strong></dt>
  <dd><%= @service_request.customer.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:created_by) %>:</strong></dt>
  <dd><%= @service_request.employee.person.full_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:created) %>:</strong></dt>
  <dd><%= @service_request.created.strftime("%F %T") %></dd>
  <dt><strong><%= model_class.human_attribute_name(:service_desc_by_customer) %>:</strong></dt>
  <dd><%= @service_request.service_desc_by_customer %></dd>
  <dt><strong><%= model_class.human_attribute_name(:service_desc_by_employee) %>:</strong></dt>
  <dd><%= @service_request.service_desc_by_employee %></dd>
  <dt><strong><%= model_class.human_attribute_name(:service_request_status_type_fk) %>:</strong></dt>
  <dd><%= @service_request.service_request_status_type.type_name %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              service_requests_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_service_request_path(@service_request), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              service_request_path(@service_request),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
