<%= provide(:title, 'Logige sisse') %>
<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.text_field :username, label:'Kasutajanimi' %>
    <%= f.password_field :password, label:'Parool' %>
    <%= f.form_group do %>
        <%= f.primary 'Logi sisse' %>
    <% end %>
<% end %>
<%= render "devise/shared/links" %>
