<% content_for :javascript_includes do %>
    <%= javascript_include_tag 'service_orders' %>
<% end %>
<%= bootstrap_nested_form_for([@service_request, @service_order], layout: :horizontal) do |f| %>

    <%= f.text_area :note, control_col:'col-sm-3', rows:4 %>
    <% unless @service_order.id.blank? %>
        <%= f.collection_select :so_status_type_fk, SoStatusType.all, :so_status_type, :type_name, control_col: 'col-sm-2' %>
        <%= f.static_control :price_total %>
        <%= render 'service_devices', f: f %>
        <% if @service_order.edit_sub_records? %>
            <%= render 'service_actions', f: f %>
            <%= render 'service_parts', f: f %>
        <% else %>
            <%= render 'service_actions_show' %>
            <%= render 'service_parts_show' %>
        <% end %>
    <% end %>

    <%= f.primary t('helpers.titles.save') %>

<% end %>
<%= link_to 'Tagasi tellimuste juurde', service_request_service_orders_path(@service_request), class: 'btn btn-default' %>
