<h3 class="sub-title">Tellimusega seotud seadmed</h3>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Kirjeldus</th>
    <th>Seisund</th>
    <th>Seisund muudetud</th>
    <th>Tüüp</th>
    <th>Nimetus</th>
    <th>Number</th>
    <th>Tootja</th>
    <th>Mudel</th>
  </tr>
  </thead>
  <tbody>
  <% @service_order.service_devices.each do |service_device| %>
      <%= f.fields_for :service_devices, service_device, id_field: false do |sdf| %>
          <tr class="fields">
            <%= sdf.hidden_field :service_device %>
            <td><%= sdf.text_field_without_bootstrap :service_description, class:'form-control' %></td>
            <td><%= sdf.collection_select_without_bootstrap :service_device_status_type_fk, ServiceDeviceStatusType.all, :service_device_status_type, :type_name,{},{class:'form-control'} %></td>
            <td><%= format_time(service_device.status_changed) %></td>
            <td><%= service_device.device.device_type.type_name %></td>
            <td><%= service_device.device.name %></td>
            <td><%= service_device.device.reg_no %></td>
            <td><%= service_device.device.manufacturer %></td>
            <td><%= service_device.device.model %></td>
            <td><%= sdf.link_to_remove 'X', class: 'btn btn-danger' if service_device.valid_to_delete? %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
<%= link_to 'Lisa uus seade', new_device_path(service_order_id:@service_order.service_order), class: 'btn btn-info' %>
<%= link_to 'Otsi seadet', search_devices_path(service_order_id:@service_order.service_order), class: 'btn btn-info' %>
<a class="toggle-next"></a>
