<h3 class="sub-title">Tellimusega seotud varuosad</h3>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Nimi</th>
    <th>Seeria nr</th>
    <th>Kogus</th>
    <th>Hind (€)</th>
    <th>Seotud seadmega</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @service_order.service_parts.each do |service_part| %>
      <%= f.fields_for :service_parts, service_part, id_field: false, wrapper: false do |saf| %>
          <tr class="fields">
            <td>
              <%= saf.hidden_field :service_part %>
              <%= saf.text_field_without_bootstrap :part_name, class: 'form-control' %>
            </td>
            <td><%= saf.text_field_without_bootstrap :serial_no, class: 'form-control' %></td>
            <td><%= saf.text_field_without_bootstrap :part_count, class: 'form-control' %></td>
            <td><%= saf.text_field_without_bootstrap :part_price, class: 'form-control' %></td>
            <td><%= saf.collection_select_without_bootstrap :service_device_fk, @service_order.service_devices, :service_device, :name, {include_blank:true}, {class: 'form-control'} %></td>
            <td><%= saf.link_to_remove 'X', class: 'btn btn-danger' %></td>
          </tr>
      <% end %>
  <% end %>
  <tr>
    <td><%= f.link_to_add 'Lisa', :service_parts, class: 'btn btn-success' %></td>
  </tr>
  </tbody>
</table>