<h3 class="sub-title">Tellimusega seotud tööd</h3>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Tüüp</th>
    <th>Seisund</th>
    <th>Kogus</th>
    <th>Hind (€)</th>
    <th>Ühik</th>
    <th>Hind kokku (€)</th>
    <th>Kirjeldus</th>
    <th>Seotud seadmega</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @service_order.service_actions.each do |service_action| %>
      <tr>
        <td><%= service_action.service_type.type_name %></td>
        <td><%= service_action.service_action_status_type.type_name %></td>
        <td><%= service_action.service_amount %></td>
        <td><%= service_action.price %></td>
        <td><%= service_action.service_type.service_unit_type.type_name %></td>
        <td><%= service_action.price_total %></td>
        <td><%= service_action.action_description %></td>
        <td><%= service_action.service_device.name unless service_action.service_device_fk.nil? %></td>
      </tr>
  <% end %>
  </tbody>
</table>