<h3 class="sub-title">Tellimusega seotud tööd</h3>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Tüüp</th>
    <th>Seisund</th>
    <th>Kogus</th>
    <th>Hind (€)</th>
    <th>Ühik</th>
    <th>Hind kokku (€)</th>
    <th>Kirjeldus</th>
    <th>Seotud seadmega</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @service_order.service_actions.each do |service_action| %>
      <%= f.fields_for :service_actions, service_action, id_field: false, wrapper: false do |saf| %>
          <tr class="fields">
            <td>
              <%= saf.hidden_field :service_action %>
              <%= saf.collection_select_without_bootstrap :service_type_fk, ServiceType.all, :service_type, :type_name, {}, {class: 'service_type form-control'} %>
            </td>
            <td><%= saf.collection_select_without_bootstrap :service_action_status_type_fk, ServiceActionStatusType.all, :service_action_status_type, :type_name, {}, {class: 'form-control'} %></td>
            <td width="100px"><%= saf.number_field_without_bootstrap :service_amount, class: 'form-control col-sm 2' %></td>
            <td><%= saf.text_field_without_bootstrap :price, class: 'unit_price form-control', :size => '5', data:{initial:true} %></td>
            <td><span class='unit_type'></span></td>
            <td><%= service_action.price_total %></td>
            <td><%= saf.text_field_without_bootstrap :action_description, class: 'form-control' %></td>
            <td><%= saf.collection_select_without_bootstrap :service_device_fk, @service_order.service_devices, :service_device, :name, {include_blank:true}, {class: 'form-control'} %></td>
            <td><%= saf.link_to_remove 'X', class: 'btn btn-danger' %></td>
          </tr>
      <% end %>
  <% end %>
  <tr>
    <td><%= f.link_to_add 'Lisa', :service_actions, class: 'btn btn-success' %></td>
  </tr>
  </tbody>
</table>