<h3 class="sub-title">Tellimusega seotud varuosad</h3>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Nimi</th>
    <th>Seeria nr</th>
    <th>Kogus</th>
    <th>Hind (€)</th>
    <th>Seotud seadmega</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @service_order.service_parts.each do |service_part| %>
      <tr>
        <td><%= service_part.part_name %></td>
        <td><%= service_part.serial_no %></td>
        <td><%= service_part.part_count %></td>
        <td><%= service_part.part_price %></td>
        <td><%= service_part.service_device.name unless service_part.service_device_fk.nil? %></td>
       </tr>
      <% end %>
  </tbody>
</table>