<%- model_class = ServiceOrder -%>
<%= provide(:title, 'Tellimused') %>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:so_status_type_fk) %></th>
    <th><%= model_class.human_attribute_name(:created_by) %></th>
    <th><%= model_class.human_attribute_name(:updated_by) %></th>
    <th><%= model_class.human_attribute_name(:created) %></th>
    <th><%= model_class.human_attribute_name(:updated) %></th>
    <th><%= model_class.human_attribute_name(:status_changed) %></th>
    <th><%= model_class.human_attribute_name(:status_changed_by) %></th>
    <th><%= model_class.human_attribute_name(:price_total) %></th>
    <th><%= model_class.human_attribute_name(:note) %></th>
    <th><%= t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @service_orders.each do |service_order| %>
      <tr>
        <td><%= service_order.so_status_type.type_name %></td>
        <td><%= service_order.creator.name %></td>
        <td><%= service_order.updater_name %></td>
        <td><%= format_time(service_order.created) %></td>
        <td><%= format_time(service_order.updated) %></td>
        <td><%= format_time(service_order.status_changed) %></td>
        <td><%= service_order.status_changer_name %></td>
        <td><%= service_order.price_total %></td>
        <td><%= service_order.note %></td>
        <td>
          <%= link_to t('helpers.links.edit'), edit_service_request_service_order_path(service_order.service_request_fk, service_order), :class => 'btn btn-sm btn-default' %>
          <%= link_to t('helpers.links.destroy'),
                      service_request_service_order_path(service_order.service_request_fk, service_order),
                      :method => :delete,
                      :data => {:confirm => t('helpers.links.confirm')},
                      :class => 'btn btn-sm btn-mini btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to t('helpers.links.new'), new_service_request_service_order_path, :class => 'btn btn-primary' %>
