<%- model_class = ServiceOrder -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:service_order) %>:</strong></dt>
  <dd><%= @service_order.service_order %></dd>
  <dt><strong><%= model_class.human_attribute_name(:so_status_type_fk) %>:</strong></dt>
  <dd><%= @service_order.so_status_type_fk %></dd>
  <dt><strong><%= model_class.human_attribute_name(:created_by) %>:</strong></dt>
  <dd><%= @service_order.created_by %></dd>
  <dt><strong><%= model_class.human_attribute_name(:service_request_fk) %>:</strong></dt>
  <dd><%= @service_order.service_request_fk %></dd>
  <dt><strong><%= model_class.human_attribute_name(:updated_by) %>:</strong></dt>
  <dd><%= @service_order.updated_by %></dd>
  <dt><strong><%= model_class.human_attribute_name(:created) %>:</strong></dt>
  <dd><%= @service_order.created %></dd>
  <dt><strong><%= model_class.human_attribute_name(:updated) %>:</strong></dt>
  <dd><%= @service_order.updated %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status_changed) %>:</strong></dt>
  <dd><%= @service_order.status_changed %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status_changed_by) %>:</strong></dt>
  <dd><%= @service_order.status_changed_by %></dd>
  <dt><strong><%= model_class.human_attribute_name(:price_total) %>:</strong></dt>
  <dd><%= @service_order.price_total %></dd>
  <dt><strong><%= model_class.human_attribute_name(:note) %>:</strong></dt>
  <dd><%= @service_order.note %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              service_request_service_orders_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_service_request_service_order_path(@service_request,@service_order), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              service_request_service_order_path(@service_request,@service_order),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
