<%# flash types are: info, success, warning, danger %>

<% message_map = {}
   flash.each do |name, msg|
     if message_map.key?(name)
       message_map[name].push(msg)
     else
       if msg.is_a?(String)
         message_map[name] = [msg]
       elsif msg.is_a?(Array)
         message_map[name] = msg
       end
     end

   end %>

<% message_map.each_key do |key| %>
    <% if message_map[key].size == 0 %>
        <% next %>
    <% end %>

    <div class="alert <%= bootstrap_class_for(key) %> alert-dismissable">
      <button key="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <% message_map[key].each do |message| %>
          <div><%= message %></div>
      <% end %>
    </div>
<% end %>



