<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Idu0200" %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', :media => "all" %>
  <%= javascript_include_tag 'application' %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <%= yield :javascript_includes %>

</head>
<body>

<%= render 'layouts/header' %>

<div class="container-fluid">
    <h2><%= content_for?(:title) ? yield(:title) : '' %></h2>
  <div id="messages-container">
    <%= render 'layouts/messages' %>
  </div>
  <%= yield %>


  <footer>
    <p>&copy; Alar Rõa</p>
  </footer>

</div>
<!-- /container -->

</body>
</html>
